/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--purple-transparent);
    z-index: 999;
}

.header.active{
    background-color: var(--purple-solid);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu{
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}

.hamburger-menu .fa-times{
    display: none;
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--purple-solid);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.nav-link{
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

.nav-item:not(:last-child){
    margin-bottom: 0.5rem;
}

.menu-open .nav-list{
    opacity: 1;
    transform: scale(1);
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

section{
    padding: 5rem 0;
}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo img{
    max-width: 80%;
}

body{
    background-image: url('./images/beach2.jpg');
    background-position: center;
}
#form{
    margin: auto;
    background-color: #000;
    height: 900px;
    width: 800px;
    margin-top: 150px;
    margin-bottom: 150px;
    opacity: 0.7;
    border-radius: 50px;
}
#first-group{
    width: 800px;
    margin-top: 38px;
}
#content{
    margin: 15px;
    margin-left: 8px;
    padding: 5px;
}

button[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    width: 760px;
    background: #1a0f0f;
    color: #cab7b7;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 15px;
}

button[type="submit"]:hover {
    cursor: pointer;
    background: #bd1616;
    color: rgb(19, 202, 235);
    border-radius: 10px;
}
